*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-box {
    background-color: rgb(214, 222, 212);
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
}
#row1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.3rem;
}

#taskList li {
   list-style: none;
   font-weight: bolder; 
   text-transform: capitalize;
   background-color: rgb(208, 218, 218);
   border: 1px solid rgb(176, 183, 186);
   padding: 0.4rem 1rem;
   border-radius: 0.5rem;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.complete-btn,.delete-btn, .edit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 1px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 0.7rem;
}

.complete-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: rgb(241, 54, 7);
}

.edit-btn {
    background-color: rgb(20, 225, 225);
}
input[type="text"] {
    width: 100%;          /* Full width */
    padding: 10px;        /* Padding inside the input */
    margin: 1rem 0;        /* Margin outside the input */
    box-sizing: border-box; /* Ensures padding is included in width */
    font-size: 0.9rem;      /* Font size */
    border: 0.1rem solid #ccc; /* Border */
    border-radius: 0.6rem;   /* Rounded corners */
    outline: none;        /* Removes outline on focus */
  }
  input[type="button"] {
    padding: 0.5rem;                
    box-sizing: border-box; 
    font-size: 0.9rem;      
/* Rounded corners */
    outline: none;        
  }
@media(max-width: 768px) {
    .inner-box,.container {
        background-color: rgb(193, 190, 180);
    }
}