*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-box {
    background-color: rgb(214, 222, 212);
    padding: 2rem;
    border-radius: 0.5rem;
}
#row1 {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 0.3rem;
}

#taskList li {
   list-style: none;
   font-weight: bolder; 
   text-transform: capitalize;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.complete-btn,.delete-btn, .edit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 1px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 0.5rem;
    font-size: 0.7rem;
}

.complete-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: rgb(241, 54, 7);
}

.edit-btn {
    background-color: rgb(20, 225, 225);
}